body {
    background: rgba(255, 219, 120, 0.685);
   max-width: 1000px;
   margin: auto;
}

.photo {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-left: 15px;
	margin-right: auto;
    margin-bottom: -156px;
    margin-top: 60px;
}

#title {
    font-size: 40px;
    color: brown;
    text-transform: uppercase;
    margin-left: 140px;
    margin-bottom: 60px;
    margin-inline-end: 700px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.description {
    color: rgb(92, 85, 85);
    font-size: 16px;
    font-style: italic;
    margin-left: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.subtitle1 {
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 25px;
    margin-top: 20px;
    margin-bottom: 30px;
    color: brown;
}

.background1 {
    background-image: url(https://st.depositphotos.com/1177973/3090/i/600/depositphotos_30901875-stock-photo-collage-of-tantalizing-culinary-dishes.jpg);
    margin-top: 30px;
}

.background2 {
    background-color: rgba(255, 255, 255, 0.541);
}

.subtitle2 {
    font-style: italic;
    font-size: 30px;
    margin-left: 25px;
    padding-top: 30px;
    color: brown;
}

.img_brownie {
width:400px;
height: 260px;
margin-top: 0px;
margin-left: 25px;
}

.topic {
    color: brown;
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 25px;
    margin-bottom: 30px;
}

.content {
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 25px;
    padding-bottom: 30px;
}

.footer {
    font-size: 20px;
    color: brown;
    margin-bottom: 20px;
}

.link {
    font-size: 18px;
}



